<h1>Create a New Post </h1>
<%= form_for @post do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :rationale %>
  <%= f.text_area :rationale %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit 'Save' %>
<% end %>